*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    padding: 16px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100vh;
}
.container__contatos{
    background-color: blue;
    width: 40%;
}
.container__mensagens{
    background-color: blueviolet;
    width: 100%;
}